<div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
  <!-- <div class="card-image">
      <img [src]="event.bannerImagePath" />
      <span class="card-title" *ngIf="type !== 'horizontal'">{{ event.name }}</span>
  </div>
  <div [ngClass]="{'card-stacked': type === 'horizontal'}">
      <div class="card-content">
          <p class="event-card__description">
              {{ event.name }}
          </p>
          <p class="event-card__price">
              {{ event.id }}$
          </p>
      </div>
      <div class="card-action">
          <a [routerLink]="['/events/' + event.id]" *ngIf="!showBuyButton">
              View Event
          </a>
          <button class="snipcart-add-item waves-effect waves-light btn-large btn"
              *ngIf="showBuyButton">
              Add to cart
          </button>
      </div>
  </div> -->
</div>
