<app-layout [title]="eventgroup.name" *ngIf="eventgroup">
  <div class="actions">
      <a [routerLink]="['/']" class="actions__link">Eventgroups</a>
      <span class="actions__separator">➡</span>
      <span>{{ eventgroup.name }}</span>
      <div>
        <img [src]="eventgroup.bannerImagePath" />
      </div>
  </div>
  <div class="event-list">
    <ul *ngFor="let eventInfo of eventInfos$ | async" class="collection">
      <app-event-card  [eventInfo]="eventInfo" [showBuyButton]="showBuyButton">
      </app-event-card>
    </ul>
  </div>
</app-layout>
