<div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
  <div class="card-image">
      <img [src]="bannerImagePath">
      <span class="card-title" *ngIf="type !== 'horizontal'">{{ name }}</span>
  </div>
  <div [ngClass]="{'card-stacked': type === 'horizontal'}">
      <div class="card-content">
          <p class="eventgroup-card__description">
              {{name}}
          </p>
          <p class="eventgroup-card__price">
              {{ eventGroupId }}$
          </p>
      </div>
      <div class="card-action">
          <a [routerLink]="['/eventgroups/' + eventGroupId]" *ngIf="!showBuyButton">
              View Event
          </a>
      </div>
  </div>
</div>
