<div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
  <div class="card-image">
      <img [src]="eventgroup.bannerImagePath" />
      <span class="card-title" *ngIf="type !== 'horizontal'">{{ eventgroup.name }}</span>
  </div>
  <div [ngClass]="{'card-stacked': type === 'horizontal'}">
      <div class="card-content">
          <p class="eventgroup-card__description">
              {{ eventgroup.name }}
          </p>
          <p class="eventgroup-card__price">
              {{ eventgroup.id }}$
          </p>
      </div>
      <div class="card-action">
          <a [routerLink]="['/eventgroups/' + eventgroup.id]" *ngIf="!showBuyButton">
              View Event
          </a>
          <button class="snipcart-add-item waves-effect waves-light btn-large btn"
              *ngIf="showBuyButton">
              Add to cart
          </button>
      </div>
  </div>
</div>
