<app-layout [title]="eventgroup.name" *ngIf="eventgroup">
  <div class="actions">
      <a [routerLink]="['/']" class="actions__link">Veranstaltungen</a>
      <span class="actions__separator">➡</span>
      <span>{{ eventgroup.name }}</span>
  </div>

  <img [src]="flyerImagePath" class="bannerImage" />

  <div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
    <div class="card-title">
        Location
    </div>
    <div [ngClass]="{'card-stacked': type === 'horizontal'}">
        <div class="card-content">
          <a [routerLink]="['/locations', locationName]">{{ locationName }}</a>
        </div>
    </div>

  </div>

  <div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
    <div class="card-title">
      Artists
    </div>
    <div [ngClass]="{'card-stacked': type === 'horizontal'}">
        <div class="card-content">
          <div *ngFor="let job of artistsArray">
            <div>
              {{ job.name }} {{ job.name !== '' ? ' : ' : '' }}
              <span *ngFor="let jobsharer of job.jobsharers; let isLast=last">
                <a [routerLink]="['/staff', jobsharer]">{{ jobsharer }}</a> {{isLast ? '' : ' & '}}
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
    <div class="card-title">
       Plot
    </div>
    <div [ngClass]="{'card-stacked': type === 'horizontal'}">
        <div class="card-content">
          <div [innerHTML]="plot"></div>
        </div>
    </div>
  </div>
  <div class="event-list">
    <ul *ngFor="let eventInfo of eventInfos$ | async" class="collection">
      <app-event-card  [eventInfo]="eventInfo" [showBuyButton]="showBuyButton">
      </app-event-card>
    </ul>
  </div>
</app-layout>
