/* You can add global styles to this file, and also import other style files */
.card > .card-title {
  padding-left: 18px;
  border-bottom: thin solid #E9E9E9;
}

p {
  padding-top: 6px;
}

/* Importing Bootstrap SCSS file. */
@import 'assets/scss/bootstrap-unlit';
