<app-layout title="Vorstellungen">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ornare purus, quis ornare purus. Vivamus varius dui gravida tellus malesuada, at dapibus metus egestas.
  </p>

  <h3>
      Anstehende Vorstellungen
  </h3>

  <div class="eventDetails-list">
      <div *ngFor="let eventDetail of eventDetails$ | async" class="eventDetails-list__item">
          <app-event-group-card  [eventDetail]="eventDetail" usage="Premiere">
          </app-event-group-card>
      </div>
  </div>

  <h3>
    Tourneestücke
  </h3>
  <div class="eventDetails-list">
    <div *ngFor="let eventDetail of eventDetailsTournee$ | async" class="eventDetails-list__item">
        <app-event-group-card  [eventDetail]="eventDetail" usage="Tournee">
        </app-event-group-card>
    </div>
  </div>
  <h3>
    Hörspiele
  </h3>
  <div class="eventDetails-list">
    <div *ngFor="let eventDetail of eventDetailsCD$ | async" class="eventDetails-list__item">
        <app-event-group-card  [eventDetail]="eventDetail" usage="CD">
        </app-event-group-card>
    </div>
  </div>
</app-layout>
